* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(61, 72, 100);
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

button:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.top h1 {
    color: white;
}

.top div {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 20px;
    width: 450px;
    height: 100px;
    border-radius: 10px;
    align-items: center;
    color: white;
    font-size: 25px;
    background-color: rgb(30, 36, 53);
}

.center {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 36, 53);
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}

.numeros {
    display: flex;
}

.numeros div{
    display: flex;
    padding: 10px;
}

.button-numeros {
    color: rgb(30, 36, 53);
    width: 80px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(233, 226, 218);
    border: none;
    border-bottom: 4px solid rgb(178, 161, 151);
}

.button-numeros:hover {
    background-color: white;
}

.button-azul {
    color: white;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(162, 179, 225);
    border: none;
    border-bottom: 4px solid rgb(65, 78, 113);
}

.final {
    display: flex;
}

.final div{
    display: flex;
    padding: 10px;
}

.reset {
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(162, 179, 225);
    border: none;
    border-bottom: 4px solid rgb(65, 78, 113);
}

.resultado{ 
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(249, 108, 91);
    border: none;
    border-bottom: 4px solid rgb(143, 35, 22);
}