* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, #708d81 0%, #001427 100%);
}

img {
    height: 4rem;
    border: 1px solid black;
    border-radius: 4rem;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #001427;
    box-shadow: 1px 1px 15px 1px black;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 2rem;
    align-items: center;
}

.bem-vindo {
    margin-top: 5rem;
    text-align: center;
    color: white;
}

.all {
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 4rem;
    background-color: #708d81;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login, .password {
    color: black;
    font-size: 16px;
    margin-top: 1rem;
}

.login-text {
    margin-bottom: 15%;
    margin-top: 5%;
}

input {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 140%;
    border-radius: 0.2rem;
    border: 1px solid black;
}

.div-button {
    margin-top: 15%;
}

.div-button button{
    width: 5rem;
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
    transition: all 2s;
}

.div-button button:hover {
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background-color: #001427;
    border-radius: 0.6rem;
}

@media (max-width: 1200px) {
    .all {
        padding: 2rem;
    }

    input {
        width: 100%;
    }
}

@media (max-width: 920px) {
    .all {
        padding: 1%;
    }

    input {
        width: 70%;
    }

    img {
        height: 3rem;
    }
}